{% extends "base.html" %}

{% block content %}

<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <a class="brand" style="margin-left: 0px;" href="https://www.stormpath.com">Chirper</a>
        <ul class="nav">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'profile' %}">Profile</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle"
                   data-toggle="dropdown">{{ user.get_full_name }} <b
                        class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#" id="showAccountTypes">Account: {{ acc_type }}</a></li>
                    <li class="divider"></li>
                    <li class="nav-header"></li>
                </ul>
            </li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
        </ul>
    </div>
</div>
<div class="modal" id="accountTypeModalContent" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 id="myModalLabel">Account Types</h3>
    </div>
    <div class="modal-body">
        <p>
        <ul>
            <li><b>Basic</b>: Create Chirp. Chirps are not highlighted.</li>
            <li><b>Premium</b>: Create Chirp. Chirps are highlighted soft yellow.</li>
            <li><b>Admin</b>: Create Chirp. Delete Chirp. Chirps are highlighted soft blue.</li>
        </ul>
        </p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" class="close" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
</div>

{% block page %}{% endblock %}

{% endblock %}
