{% if chirps %}
    {% for chirp in chirps %}
        <div class='well well-small
            {% if chirp.owner_is_admin %}
                Administrator
            {% elif chirp.owner_is_premium %}
                Premium
            {% endif %}'>
            <code>
                <a href='#'>{{ chirp.user.get_full_name }}</a>: {{ chirp.message }}
            </code>
        {% if is_admin %}
            <button class='close' title='Delete the chirp permanently'>
                <a href='{% url "chirp_delete" chirp.id %}'>&times;</a>
            </button>
        {% endif %}
        </div>
    {% endfor %}
{% else %}
    <div class='alert'>There are no chirps!</div>
{% endif %}

